h1 {
  font-family: "Montserrat";
}

.post-content {
  width: 70%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  margin: 0px, auto, 0px, auto;
  background-color: #fffafa;
}

.date {
  font-family: "Roboto";
  color: #008080;
}

.post-content div.post-content {
}
